.google-main {
  padding: 6px 14px;
  border-radius: 5px;
  border: 1px solid #9b99ad;
  display: flex;
  flex-direction: row;
}

.google-text {
  font-family: "Open Sans";
  color: rgb(0, 0, 0, 0.87);
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  padding-left: 8px;
}

.google-main:hover {
  cursor: pointer;
}
