.hyperlink-main1{
    color: black;
    font-size: 14px;
    font-weight: 600;
    line-height: 19px;
    font-family: "Open Sans";
    text-decoration: underline;
}

.hyperlink-main:hover {
    cursor: pointer;
}