.header {
  background-color: #f8f8f8;
  /* position: relative;
  width: auto; */
  position:sticky;
  top:0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding:20px 30px;
  z-index: 10;
}
.title-left {
  color: #32a05f;
  font-weight: bold;
  font-family: "SF Pro Display";
}

.right{
  flex-direction: row;
  margin: 0%;
}

.circularImg {
  border-radius: 50%;
  height:24px;
  width:24px;
}

.spacing{
  margin-left: 20px;
} 
