.sidebar-add{

    display: flex;
    flex-direction: row;
    padding: 16px 30px;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    border-bottom: 1px solid #efefef;
}

.btn-newnotes{
    background-color: #32A05F;
    border-radius: 100px;
    box-shadow:0px;
    border:0;
    box-sizing: border-box;
    padding: 5px 15px;
    color: white;
    font-weight: 500;
    font-family: "SF Pro Display";
    font-size: 13px;
}

.text {
    color: #2C2731;
    font-weight: 500;
    font-family: "SF Pro Display";
    font-size: 13px;
  }
  