.notes-widget {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 20px 30px;
  margin-right: 24px;
  border-bottom: 1px solid #efefef;
}

.selected {
  background-color: #eff8f2;
}

.notes-widget:hover{
  cursor: pointer;
}

.notes-date {
  color: #000000;
  font-weight: 300;
  font-family: "SF Pro Display";
  font-size: 10px;
}

.notes-title {
  color: #000000;
  font-weight: 500;
  font-family: "SF Pro Display";
  padding-bottom: 10px;
  padding-top: 5px;
}
.notes-body {
  color: #000000;
  font-weight: 300;
  font-family: "SF Pro Display";
  font-size: 14px;
}

.truncate {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
