body {
  margin: 0px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



@font-face {
  font-family: "SF Pro Display";
  src: local("SF Pro Display"),
   url("./assets/fonts/sf/SFPRODISPLAYBOLD.OTF") format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: "SF Pro Display";
  src: local("SF Pro Display"),
   url("./assets/fonts/sf/SFPRODISPLAYSEMIBOLD.ttf") format("truetype");
  font-weight: 600;
}

@font-face {
  font-family: "SF Pro Display";
  src: local("SF Pro Display"),
   url("./assets/fonts/sf/SFPRODISPLAYMEDIUM.OTF") format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: "SF Pro Display";
  src: local("SF Pro Display"),
   url("./assets/fonts/sf/SFPRODISPLAYREGULAR.OTF") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "SF Pro Display";
  src: local("SF Pro Display"),
   url("./assets/fonts/sf/SFPRODISPLAYLIGHT.ttf") format("truetype");
  font-weight: 300;
}

@font-face {
  font-family: "Open Sans";
  src: local("Open Sans"),
   url("./assets/fonts/open-sans/OpenSans-Bold.ttf") format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: "Open Sans";
  src: local("Open Sans"),
   url("./assets/fonts/open-sans/OpenSans-Semibold.ttf") format("truetype");
  font-weight: 600;
}

@font-face {
  font-family: "Open Sans";
  src: local("Open Sans"),
   url("./assets/fonts/open-sans/OpenSans-Regular.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Open Sans";
  src: local("Open Sans"),
   url("./assets/fonts/open-sans/OpenSans-Light.ttf") format("truetype");
  font-weight: 300;
}
